/ruff_format_results.txt
/ruff_check_results.txt
/model.pth
/.vscode
/.venv
/models
/samples/*
/Utils/__pycache__
/archive.zip
/garbage_classification
/GPU_Info.txt
/Database/cache
/Database/Data
/logs/tensorboard
/cache/weights
